:root {
    --font-size-title: 55px;
    --font-size-paragraph: 25px;
    --padding-section: 32px 152px 0 152px;
    --margin-menu-bottom: 70px;
    --gap-menu-links: 32px;
    --gap-apresentacao-links: 32px;
    --width-skill-box: 176px;
    --height-skill-box: 174px;
    --padding-skill-box: 0 0 16px 16px;
}

.skills__HTML,
.skills__JS,
.skills__react,
.skills__css {
    padding: var(--padding-skill-box);
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    width: var(--width-skill-box);
    height: var(--height-skill-box);
    background-color: white;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.box-size {
    width: var(--width-skill-box);
    height: var(--height-skill-box);
}

.box-padding {
    padding: var(--padding-skill-box);
}

.skills__HTML,
.skills__JS,
.skills__react,
.skills__css {
    @extend .flex-column-reverse, .box-size, .box-padding;
    background-color: white;
}

/* Seção: Geral */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font: "Raleway", sans-serif;
    --font-color: #464646;
    --bg-color-primaria: #F5F5F5;
    --bg-color-secundaria: #EAF2FD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color-primaria);
    font-family: var(--font);
    color: var(--font-color);
}

/* Seção: Layout */
section {
    padding: var(--padding-section);
}

a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 16px;
}

ul {
    list-style
    /* .menu {
        margin: 0 0 16px 0;
        align-items: center;
    }

    .menu__nav__links strong {
        font-size: 14px;
    }

    #sobreMim-media,
    #skills-media,
    #hobbies-media,
    #formacao-media {
        display: none;
    }

    .apresentacao {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 16px;
    }

    .apresentacao__foto {
        width: 98px;
        height: 98px;
    }

    .apresentacao__textos__titulo {
        font-size: 20px;
    }

    .apresentacao__textos__paragrafo {
        font-size: 14px;
        margin: 16px 0 16px 0;
    }

    .apresentacao__links {
        margin-bottom: 16px;
    }

    .apresentacao__links a {
        font-size: 14px;
        font-weight: 600;
    }

    .seta {
        width: 10px;
        height: 10px;
    }

    /* SOBRE MIM */

    /* .sobre {
        padding: 16px 16px 0 16px;
    }

    .sobre img {
        margin-top: 3%;
    }

    .sobre__text h2 {
        font-size: 22px;
    }

    .sobre__text p {
        font-size: 14px;
        margin-top: 2%;
    }

    /*Skills*/

    /* .skills__titulo {
        font-size: 22px;
    }

    .skills {
        flex-wrap: wrap;
    }

    .skills__HTML,
    .skills__JS,
    .skills__react,
    .skills__css {
        width: 156px;
        height: 118px;
    }


    /* Hobbies */

    /* .container-hobbies {
        padding-bottom: 20px;
    }

    .hobbies_titulo {
        font-size: 22px;
    }

    .hobbies {
        flex-wrap: wrap;
    }


    .hobbies__musica,
    .hobbies__series,
    .hobbies__cozinhar,
    width: 156px;
    height: 118px;
}

.hobbies__musica img,
.hobbies__series img,
.hobbies__cozinhar img {
    height: 35%;
}

section {
    padding: 16px 16px 0 16px;
}

/* FORMAÇÃO */

    /*.container-formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formacao {
    flex-direction: column;
}

.formacao_titulo {
    margin-top: 20px;
    font-size: 1.375rem;
}


.formacao__uninove__foto,
.formacao__alura__foto {
    padding: 50px;
    width: 100%;
    height: 50%;
}

.formação__uninove__texto h4,
.formacao__alura__texto h4 {
    font-size: 1rem;
}

.formação__uninove__texto p,
.formacao__alura__texto p {
    font-size: 0.875rem;
}

/* FORMULÁRIO */

    /*#telefone {
    display: none;
}

.formulario {
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 0;
}

.formulario__texto h3 {
    font-size: 1.375rem;
}

.formulario__texto p {
    font-size: 1rem;
}

.botaoForm {
    margin-top: 32px;
}

/* RODAPÉ */

    /*.rodape {
    padding: 5% 0px 5% 0px;
    background-color: white;
}